﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Video Distribution</title>
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="robots" content="noindex,nofollow">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/meta/favicon-16x16.png">
    <link rel="manifest" href="~/assets/meta/manifest.json">
    <link rel="mask-icon" href="~/assets/meta/safari-pinned-tab.svg" color="#44a5ab">
    <link rel="shortcut icon" href="~/assets/meta/favicon.ico">
    <meta name="msapplication-TileColor" content="#44a5ab">
    <meta name="msapplication-TileImage" content="~/assets/meta/mstile-144x144.png">
    <meta name="msapplication-config" content="~/assets/meta/browserconfig.xml">
    <meta name="theme-color" content="#44a5ab">

    <!-- Fonts & styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500|Squada+One" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/dist/styles/main.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/controller.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/pace.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <style>
        #processing {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: #eee url(/assets/images/turkish_flag.gif) no-repeat center center;
            opacity: .9;

        }

        .ajax-loader {
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
        }

        .tableHeader {
            vertical-align:middle !important;
            text-align: center;
            background-color: #f0f0f0;
            border: 1px solid #ccc !important;
        }

        .tableHeaderFilter {
            vertical-align:middle !important;
            text-align: center;
            background-color: #f0f0f0;
            border: 1px solid #ccc !important;
        }

        .tableFilter {
            width: 100%;
            border-radius: 5px;
        }

        .pagination li a {
            font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif !important;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .tableHeaderSort {
            padding: 0px;
            font-size: 12px;
        }

        .countBadge {
            background-color: #f5f5f5;
            border: 1px solid #aaa;
            border-radius: 15px;
            color: #777;
        }

        .arrowCustom {
            color: #fff;
        }
    </style>

    <!-- Data structures -->
    <script type="application/ld+json">
        [
        {
        "@@context"       : "http://schema.org",
        "@@type"          : "WebSite",
        "name"            : "GDistribution",
        "url"             : "http://www.videodistribution.com/",
        "potentialAction" : {
        "@@type"      : "SearchAction",
        "target"      : "http://www.videodistribution.com/search/?search_str={search_term_string}",
        "query-input" : "required name=search_term_string"
        },
        "publisher"       : {
        "@@type": "Organization",
        "name"  : "OrangeGames",
        "url"   : "//orangegames.com/",
        "logo"  : {
        "@@type": "ImageObject",
        "url"   : "http://www.Videodistribution.com/assets/images/vdlogo.png",
        "width" : 137,
        "height": 112
        }
        }
        }
        ]
    </script>
</head>

<body class="bodypage" ng-app="admin">
    <nav>
        <div class="wrapper">
            <input id="toggle-burger" class="toggle-burger" type="checkbox">
            <label class="burger" for="toggle-burger"></label>
            <div class="mobile-navigation">
                <a href="~/Videos/Index" target="_self" title="Videos">Videos</a>
                @*<a href="~/FeaturedVideos" target="_self" title="Featured Videos">Featured Videos</a>*@
                @if (User.IsInRole("Superadmin"))
                {
                    <a href="~/Account/AdminUsers" target="_self" title="Admin Users">Admin Users</a>
                    <a href="~/Account/Accounts" target="_self" title="Accounts">Accounts</a>
                                <a href="~/Account/AccountWebsites" target="_self" title="AccountWebsites">Account Websites</a>
                                <a href="~/Account/PublisherDomains" target="_self" title="PublisherDomains">Publisher Domains</a>
                                <a href="~/Users/Users" target="_self" title="Users">Users</a>

                    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
                    var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                    <a href="~/Performance/Index?from=@firstDayOfMonth.ToString("MM-dd-yyyy")&to=@lastDayOfMonth.ToString("MM-dd-yyyy")" target="_self" title="Users">Performance Report</a>
                    <a href="~/Videos/Report" target="_self" title="Users">Videos Report</a>
                    <a href="~/Domain" target="_self" title="Users">Reported</a>
                }
                <a href="~/VideoApprove/Index" target="_self" title="Approve">Waiting</a>
                <a href="~/VideoApprove/RejectedVideos" target="_self" title="Approve">Rejected</a>
                <a href="~/VideoApprove/PublishedVideos" target="_self" title="Approve">Published</a>
                <a href="~/VideoApprove/Private" target="_self" title="Private">Private</a>
                <a href="~/VideoApprove/Deleted" target="_self" title="Private">Deleted</a>
            </div>
            <div class="mask"></div>
            <a href="/" target="_self" title="Video Distribution" class="logo">
                <img src="/assets/images/vdlogo.png" alt="Video Distribution" />
            </a>
            <div class="desktop-navigation">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <span>@User.Identity.Name</span>
                        <button type="submit" class="button active" style="font-size:16px; font:xx-small !important; min-width:50px !important;">Logout</button>

                    }
                }
            </div>
        </div>
    </nav>
    <section class="catalog-container">
        <div class="wrapper" style="margin:0 auto !important; width:100%">
            <article>
                <div class="columns" style="margin-top:-125px !important; width:100%">
                    <div class="column" style="min-width:16% !important;">
                        <div class="menu">
                            <h2 style="border: none;">MENU</h2>
                            <a href="~/Videos/Index" target="_self" title="Videos">Videos</a>
                            @*<a href="~/FeaturedVideos" target="_self" title="Featured Videos">Featured Videos</a>*@
                            @if (User.IsInRole("Superadmin"))
                            {
                            <a href="~/Account/AdminUsers" target="_self" title="Admin Users">Admin Users</a>
                            <a href="~/Account/Accounts" target="_self" title="Accounts">Accounts</a>
                            <a href="~/Account/AccountWebsites" target="_self" title="AccountWebsites">Account Websites</a>
                            <a href="~/Account/PublisherDomains" target="_self" title="PublisherDomains">Publisher Domains</a>
                            <a href="~/Users/Users" target="_self" title="Users">Users</a>

                                var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
                                var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                            <a href="~/Performance/Index?from=@firstDayOfMonth.ToString("MM-dd-yyyy")&to=@lastDayOfMonth.ToString("MM-dd-yyyy")" target="_self" title="Users">Performance Report</a>
                            <a href="~/Videos/Report" target="_self" title="Users">Videos Report</a>
                            <a href="~/Domain" target="_self" title="Users">Reported</a>
                            }
                            <a href="~/VideoApprove/Index" target="_self" title="Approve">Waiting</a>
                            <a href="~/VideoApprove/RejectedVideos" target="_self" title="Approve">Rejected</a>
                            <a href="~/VideoApprove/PublishedVideos" target="_self" title="Approve">Published</a>
                            <a href="~/VideoApprove/Private" target="_self" title="Private">Private</a>
                            <a href="~/VideoApprove/Deleted" target="_self" title="Private">Deleted</a>
                        </div>
                    </div>
                    @RenderBody()
                    </div>
            </article>
        </div>
    </section>

    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqwidgets")
    @*<script src="//github.com/makeusabrew/bootbox/releases/download/v4.4.0/bootbox.min.js"></script>*@

    @RenderSection("scripts", required: false)
</body>

</html>