---
title: gd-api
description: gd

#navigation selected states:
games: false
gamesadd: false
gamesmy: false
gamessettings: false
analytics: false
api: true

#aside menus
gamesmenu: false
categoriesmenu: false
analyticsmenu: false

#pagination menu:
paginationmenu: false

#filters menu:
filters: false
---
<body class="apipage" page-type="apipage">
{{> navigation-dashboard }}
{{> api-steps }}
{{> footer }}
</body>