---
title: gd-dashboard-games
description: gd

#navigation selected states:
games: true
gamesadd: false
gamesmy: false
gamessettings: false
analytics: false
api: false

#aside menus
gamesmenu: true
categoriesmenu: false
analyticsmenu: false

#catalog
tiles: true
list: false
recommended: ["","new","","","hot","","",""]
updated: ["update","hot","new","update","update","new","new"]
all: ["update","hot","new","update","update","new","","","","","new","","","new","","","","","","","","","","","","","","","","","","","new","","update","hot","","","",""]

#pagination menu:
paginationmenu: true

#filters menu:
filters: true
---
<body class="dashboardpage" page-type="gamespage">
{{> navigation-dashboard }}
{{> catalog-recommended }}
{{> catalog }}
{{> footer }}
</body>
