﻿@model VideoDistribution.Models.ADM_UsersByIdResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="column" style="width:200px !important; margin-top:-15px;">
    @*<h4 style="margin-bottom:2px">@Model.Name</h4>*@
    @using (Html.BeginForm("UpdateUsers", "Users"))
    {
        <div asp-validation-summary="All"></div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { @autocomplete = "off" } )
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Lastname)
            @Html.EditorFor(model => model.Lastname)
            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.WebsiteURL)
            @Html.EditorFor(model => model.WebsiteURL)
            @Html.ValidationMessageFor(model => model.WebsiteURL, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Active)
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
        </div>
        @Html.HiddenFor(model => model.Id)
        <div style="margin-top:15px;">
            <button type="submit" class="button active" style="text-align:center">Save</button>
        </div>
    }
</div>

<script>
    $(function () {
        $('input[type=text]').attr('autocomplete', 'off');
    });
</script>