﻿@model VideoDistribution.Models.RPT_VideoById_AdminResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="column" style="min-width:45% !important; ">
    @*<h4 style="margin-bottom:2px">Games - @Model.Game</h4>*@
    @using (Html.BeginForm("EditVideo", "Users"))
    {
        <div asp-validation-summary="All"></div>
        <div>
            @Html.Label("Partner")
            @Html.DropDownList("Company")
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Title")
            @Html.EditorFor(model => model.Title)
        </div>
        <div  style="margin-top:15px;">
            @Html.Label("Category")
            @Html.DropDownList("Category")
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Video Type")
            @Html.TextBoxFor(model => model.TypeName, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Visible)
            @Html.EditorFor(model => model.Visible)
            @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Approved)
            @Html.EditorFor(model => model.Approved)
            @Html.ValidationMessageFor(model => model.Approved, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Banner)
            @Html.EditorFor(model => model.Banner)
            @Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Analytics")
            @Html.EditorFor(model => model.HasApi)
            @Html.ValidationMessageFor(model => model.HasApi, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Instructions)
            @Html.EditorFor(model => model.Instructions)
            @Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("External URL")
            @Html.EditorFor(model => model.ExternalURL)
            @Html.ValidationMessageFor(model => model.ExternalURL, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Thumbnail)
            @Html.EditorFor(model => model.Thumbnail)
            @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Video Md5")
            @Html.EditorFor(model => model.VideoMd5)
            @Html.ValidationMessageFor(model => model.VideoMd5, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("File Name")
            @Html.EditorFor(model => model.Filename)
            @Html.ValidationMessageFor(model => model.Filename, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Google Id")
            @Html.EditorFor(model => model.GoogleId)
            @Html.ValidationMessageFor(model => model.GoogleId, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Height)
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Width)
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
        </div>
        
        <div style="margin-top:15px;">
            @Html.Label("Added On")
            @Html.TextBoxFor(model => model.AddedDate, new { disabled = "disabled" })
            @*@Html.EditorFor(model => model.AddedOn, new { @Value = Model.AddedOn.ToString() , htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
            @Html.ValidationMessageFor(model => model.AddedDate, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        <div style="margin-top:15px;">
            <button type="submit" class="button active" style="text-align:center">Save</button>
        </div>
    }
</div>
<div class="column" style = "margin-left:30px;">
    <div class="primary-image">
    @{
        if (Model.GameType == 1)
        {
            <div id="flashContent" class="game">
                <p>
                    To view this page ensure that Adobe Flash Player version
                    10.0.0 or greater is installed.
                </p>
                <script type="text/javascript">
                    var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                    document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
                        + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
                </script>
            </div>
            <div class="progress progress-striped margin-t-20" style="display:none;">
                <div class="progress-bar progress-bar-two" role="progressbar" id="progressLoader" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only text-center" id="progressText" style="color:#ffd800">Initilizing...</span>
                </div>
            </div>
        }
        else if (Model.GameType == 2)
        {
            <div id="unityGame" style="margin-left: auto; margin-right: auto; width: @(Model.Width == null ? "600" : Model.Width.ToString())px; height: @(Model.Height == null ? "500" : Model.Height.ToString())px" ; @if (Model.GameType != 2) { <text> class="hide" </text> }>
                <div id="unityGameEmbed">
                    <div style="width: @(Model.Width == null ? "600" : Model.Width.ToString())px; height: @(Model.Height == null ? "500" : Model.Height.ToString())px; background-color:black" id="notLoaded">
                        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" border="0" width="193" height="63" style="overflow: auto;margin: auto;position: absolute;top: -120px; left: 0; bottom: 0; right: 0;" />
                        </a>
                    </div>

                    <div style="width: @(Model.Width == null ? "600" : Model.Width.ToString())px; height: @(Model.Height == null ? "500" : Model.Height.ToString())px; background-color:black" id="unityLoading">
                        <h2>Unity Game Loading...</h2>
                    </div>
                    <script type="text/javascript">
                            var notLoaded = document.getElementById("notLoaded");
                            var unityLoading = document.getElementById("unityLoading");

                            function GetUnity() {
                                if (typeof unityObject != "undefined") {
                                    return true;
                                }
                                return false;
                            }
                            if (typeof unityObject != "undefined") {
                                var params = {
                                    backgroundcolor: "000000",
                                    logoimage: "/images/gdnew.png",
                                    progressbarimage: "/images/unity/progress.png",
                                    progressframeimage: "/images/unity/container.png",
                                };

                                var gameType = @Model.GameType.ToString();

                                if (gameType == 2)
                                {
                                    unityObject.embedUnity("unityGameEmbed", "@Model.Filename",@(Model.Width == null ? "600" : Model.Width.ToString()), @(Model.Height == null ? "500" : Model.Height.ToString()), params);
                                }
                            }
                            if (GetUnity()) {
                                unityLoading.style.display = "block";
                                notLoaded.style.display = "none";
                            } else {
                                unityLoading.style.display = "none";
                                notLoaded.style.display = "block";
                            }
                    </script>
                </div>
            </div>
        }
        else if (Model.GameType == 3)
        {
            <div id="androidGame" style="margin-left:auto;margin-right:auto; width:500px;height:500px" @(Model.GameType != 3 ? "class='hide'" : "")>
                <div>
                    <span>To install the game, read QR Code by your Phone</span>
                </div>
                <img id="androidGameEmbed" alt="@Model.Game" src="@(Model.Filemd5).png" width="500" height="500" />
            </div>
        }
        else if (Model.GameType == 5)
        {
            <div align="left" id="html5Game" @if (Model.GameType.ToString() != "5") { <text> class="hide" </text>  } else {  <text> class="game" </text>  }> @{ double proportion = (double)(600 / ((double)((double)Model.Width / (double)Model.Height)));}
                <form style="width:600px !important;">
                    <label>@Model.Game</label>
                </form>
                <iframe id="html5GameEmbed" src="@String.Concat("http://www.GameDistribution.com/store_html5/", @Model.GameMd5)/@(GameDistribution.Utils.Utils._GET((" demo_adtag") != "" ? "?demo_adtag=" + @GameDistribution.Utils.Utils._GET("demo_adtag") : ""))"  width="600" height="@proportion" scrolling="auto" frameborder="0"></iframe>
            </div>
        }
    }
    </div>
    @{
        if (Model.GameType != 3)
        {
            <div class="clipboard" data-type="url" style="width:600px !important;">
                <textarea>@Model.ExternalURL</textarea>
            </div>
        }
            <ul class="filters">
                <li style="background-color: #44a5ab; width:165px; text-align:center" onclick="hrefLocation('/GameDetail/Download/@Model.Id')"><i class="fa fa-download"></i> Download</li>
                <li style="background-color: #44a5ab;" id="btnCopyEmbedCode"><i class="fa fa-copy"></i> Copy Embed Code</li>
                <li style="background-color: #44a5ab;" onclick="hrefLocation('@Model.ExternalURL')"><i class="fa fa-clipboard"></i> Content Location</li>
            </ul>
        @*<div align="right">
            <ul class="filters" data-type="url">
                @if (Model.GameType == 3)
                {
                    <li style="background-color: #44a5ab;" onclick="hrefLocation('@Model.ExternalURL')"><i class="fa fa-android"></i> Install</li>
                }
                else if (Model.GameType == 5)
                {
                    <li style="background-color: #44a5ab; float:none !important; width:160px" id="btnCopyEmbedCode"><i class="fa fa-copy"></i> Copy Embed Code</li>
                }
                else
                {
                    <li style="background-color: #44a5ab;" onclick="hrefLocation('/GameDetail/Download/@Model.Id')"><i class="fa fa-download"></i> Download</li>
                }
            </ul>
        </div>*@
    }
    <form style="width:600px !important;">
        <label>Thumbnail</label>
        <div class="screenshots" align="left">
            <img src="@Model.Thumbnail" width="222" height="140" />
        </div>
    </form>
</div>

<script>
    function hrefLocation(link){
        if(link.includes('Download')){
            alert(link);
            location.href = link;}
        else{
            window.open(link, '_blank');
        }
    }

    function getGameType(typeId)
    {
        var result ="";

        switch(typeId) {
            case 1:
                result = "Flash"
                break;
            case 2:
                result = "Unity"
                break;
            case 3:
                result = "Android"
                break;
            case 4:
                result = "iOS"
                break;
            case 5:
                result = "Html5"
                break;
            default:
                result = "Not detected"
        }

        return result;
    }

    function getAdvType(typeId)
    {
        var result ="";

        switch(typeId) {
            case 0:
                result = "None"
                break;
            case 1:
                result = "External Links"
                break;
            case 2:
                result = "Pre-Game Ads"
                break;
            case 3:
                result = "Interstitial Ads"
                break;
        }

        return result;
    }

    function getGameIconPath(typeId)
    {
        var result ="";

        switch(typeId) {
            case 1:
                result = "/Content/app/assets/images/icon-flash.svg"
                break;
            case 2:
                result = "/Content/app/assets/images/icon-unity.svg"
                break;
            case 3:
                result = "/Content/app/assets/images/icon-android.svg"
                break;
            case 4:
                result = "/Content/app/assets/images/icon-ios.svg"
                break;
            case 5:
                result = "/Content/app/assets/images/icon-html5.svg"
                break;
        }

        return result;
    }

    function getCompanyLink(companyName)
    {
        var link = "/Catalog/Company/"+companyName+"/";
        link = link.replace(" ","-").replace("'","-").replace(":","-").replace("?","-").replace("%20","-");

        return link;
    }

    document.getElementById("advTypeId").innerHTML = getAdvType(@Model.Adv);
    document.getElementById("gameTypeId").innerHTML = getGameType(@Model.GameType);
    document.getElementById("gameImgId").src = getGameIconPath(@Model.GameType);
    document.getElementById("companyLinkId").href = getCompanyLink('@Model.Company');

    $("#btnCopyEmbedCode").click(function(e) {
        e.preventDefault();

        var clipboardBody = "<iframe src=\"@Model.ExternalURL\" width=\"@Model.Width;\" height=\"@Model.Height; %>\" scrolling=\"none\" frameborder=\"0\"></iframe>";
        copyTextToClipboard(clipboardBody);
    });


    function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        // Place in top-left corner of screen regardless of scroll position.
        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        // Ensure it has a small width and height. Setting to 1px / 1em
        // doesn't work as this gives a negative w/h on some browsers.
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        // We don't need padding, reducing the size if it does flash render.
        textArea.style.padding = 0;
        // Clean up any borders.
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        // Avoid flash of white box if rendered for any reason.
        textArea.style.background = 'transparent';
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();
        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
            alert("Copied!");
        } catch (err) {
            console.log('Oops, unable to copy');
        }

        document.body.removeChild(textArea);
    }

    $(document).ready(function () {

        var gameType = @Model.GameType.ToString();

        if(gameType == 1)
        {
            // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
            var swfVersionStr = "9";
            // To use express install, set to playerProductInstall.swf, otherwise the empty string.
            var xiSwfUrlStr = "playerProductInstall.swf";
            var flashvars = {};
            flashvars.AppID = "207709596006211";
            var params = {};
            params.menu = "false";
            params.scale = "noScale";
            params.quality = "high";
            //params.bgcolor = "#ffffff";
            params.allowscriptaccess = "always";
            params.allowfullscreen = "true";
            params.swLiveConnect = "true";
            params.wmode = "direct";
            var attributes = {};
            attributes.id = "GDFlash";
            attributes.name = "GDFlash";
            attributes.align = "middle";

            function flashCallback (e) {
                //Only execute if SWFObject embed was successful
                if (!e.success || !e.ref) { return false; }

                $(".progress-striped").show();
                swfLoadEvent(e, function () {
                    setTimeout(function () {
                        $(".progress-striped").hide();
                    }, 2000);
                });

            };

            swfobject.embedSWF(
                "http://swf.GameDistribution.com/@Model.Filename",
                "flashContent",
                "@Model.Width",
                "@Model.Height",
                swfVersionStr, xiSwfUrlStr,
                flashvars, params, attributes, flashCallback);
            swfobject.createCSS("#flashContent", "display:block;text-align:center;");

            function swfLoadEvent(e,fn) {
                //Ensure fn is a valid function
                if (typeof fn !== "function") { return false; }
                var loadedPercent=0;
                console.log("swfLoadEvent invoked.");
                var initialTimeout = setInterval(function () {
                    if (typeof e.ref.PercentLoaded !== "undefined") {
                        loadedPercent = e.ref.PercentLoaded();
                        console.log("Load:" + loadedPercent);
                        $("#progressLoader").width(loadedPercent + "%");
                        $("#progressText").text("Loading " + loadedPercent + "%");
                        if (e.ref.PercentLoaded() === 100 || e.ref.PercentLoaded() < 0) {
                            //Execute function
                            fn();
                            //Clear timer
                            clearInterval(initialTimeout);
                            console.log("initialTimeout");
                        }
                    }
                }, 1000);
            }
        }
    });
</script>