﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            var id = @ViewBag.Id;
            var source =
                {
                    datafields:
                    [
                        { name: 'Id',        type: 'number' },
                        { name: 'GameMd5',   type: 'string' },
                        { name: 'Game',      type: 'string' },
                        { name: 'Warning',   type: 'number' },
                        { name: 'Visible',   type: 'number' },
                        { name: 'Approved',  type: 'number' },
                        { name: 'Banner',    type: 'number' },
                        { name: 'Thumbnail', type: 'string' },
                        { name: 'AddedOn',   type: 'date'   },
                        { name: 'Company',   type: 'string' },
                        { name: 'UserId',    type: 'number' },
                        { name: 'HasApi',    type: 'number' }
                    ],
                    updaterow: function (rowid, rowdata, commit) {
                        // synchronize with the server - send update command
                        var data = "update=true&GameMd5=" + rowdata.GameMd5 + "&Visible=" + rowdata.Visible + "&Approved=" + rowdata.Approved + "&Banner=" + rowdata.Banner;

                        $.ajax({
                            dataType: 'json',
                            url: '~/Users/UpdateUserGamesInline',
                            data: data,
                            success: function (data, status, xhr) {
                                // update command is executed.
                                $("#jqxgrid").jqxGrid('refreshdata');
                                //$("#jqxgrid").jqxGrid('refresh');
                                commit(true);
                            },
                            error: function () {
                                // cancel changes.
                                commit(false);
                            }
                        });
                    },
                    datatype        : "json",
                    url             : "~/Users/GetGameById/"+id,
                    filter          : function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root            : "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };

            var isEditable = function (row) {
                return false;
            }

            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top: 10px;"><b>' + value + '</b></div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width           : "100%",
                    height          : 650,
                    source          : dataAdapter,
                    showfilterrow   : true,
                    filterable      : true,
                    pageable        : true,
                    editable        : true,
                    pagesize        : 20,
                    autoheight      : true,
                    selectionmode   : 'multiplecellsextended',
                    virtualmode     : true,
                    rendergridrows  : function (obj) {
                        return obj.data;
                    },
                    columns: [
                        { text: 'Id',       datafield: 'Id',       filtertype: 'textbox', hidden: true },
                        { text: 'Partner', datafield: 'Company', filtertype: 'textbox', width: '15%', renderer: columnsrenderer, cellbeginedit: isEditable },
                        { text: 'User Id', datafield: 'UserId', filtertype: 'textbox', width: '10%', renderer: columnsrenderer, cellbeginedit: isEditable },
                        { text: 'Game', datafield: 'Game', filtertype: 'textbox', width: '23%', renderer: columnsrenderer, cellbeginedit: isEditable },
                        {
                            text: 'Visible', datafield: 'Visible', filtertype: 'textbox', width: '6%', renderer: columnsrenderer, cellsalign: 'center', 
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        { text: 'Analytics', datafield: 'HasApi', filtertype: 'textbox', width: '7%', renderer: columnsrenderer, cellsalign: 'center', cellbeginedit: isEditable },
                        {
                            text: 'Approved', datafield: 'Approved', filtertype: 'textbox', width: '8%', renderer: columnsrenderer, cellsalign: 'center', 
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Banner', datafield: 'Banner', filtertype: 'textbox', width: '7%', renderer: columnsrenderer, cellsalign: 'center', 
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        { text: 'Added On', datafield: 'AddedOn', filtertype: 'date', width: '10%', renderer: columnsrenderer, cellsalign: 'center', cellbeginedit: isEditable, cellsformat: 'dd/MM/yyyy', editable: false },
                        {
                            text: 'Edit', datafield: 'Edit', columntype: 'button', width: '7%', filterable: false, renderer: columnsrenderer, cellsalign: 'center', cellsrenderer: function () {
                                return "Edit";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "GameMd5");
                                window.location = '~/Users/EditVideo/' + id;
                            }
                        },
                        {
                            text: 'Feature', columntype: 'button', width: '7%', id: "FeaturedButton", filterable: false, renderer: columnsrenderer, cellsalign: 'center', cellsrenderer: function () {
                                return "Feature";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "Id");
                                window.location = '~/Videos/Feature/' + id;
                            }
                        }
                    ]
                });
        });
    </script>
}

<div class="column">
    <div class="menu" style="text-align:left; color:black">
        <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">Games</h2>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
    </div>
</div>
