﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id',         type: 'number' },
                        { name: 'Name',       type: 'string' },
                        { name: 'Lastname',   type: 'string' },
                        { name: 'Email',      type: 'string' },
                        { name: 'CompanyName',type: 'string' },
                        { name: 'WebSiteURL', type: 'string' },
                        { name: 'ServerName', type: 'string' },
                        { name: 'Active',     type: 'number' },
                        { name: 'LastLoginIP',type: 'string' }
                    ],
                    datatype: "json",
                    url: "@Url.Action("GetUsers", "Account")",
                    filter: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root: "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };

            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top:10px;"><b>' + value + '</b></div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width           : "100%",
                    enabletooltips  : true,
                    source          : dataAdapter,
                    showfilterrow   : true,
                    editable        : false,
                    filterable      : true,
                    pageable        : true,
                    pagesize        : 20,
                    autoheight      : true,
                    virtualmode     : true,
                    selectionmode   : 'multiplecellsextended',
                    rendergridrows  : function (obj) {
                        return obj.data;
                    },
                    columns:
                    [
                        { text: 'Id', datafield: 'Id', filtertype: 'textbox', width: "5%", renderer: columnsrenderer },
                        { text: 'Name', datafield: 'Name', filtertype: 'textbox', width: "10%", renderer: columnsrenderer },
                        { text: 'Lastname', datafield: 'Lastname', filtertype: 'textbox', width: "15%", renderer: columnsrenderer },
                        { text: 'Email', datafield: 'Email', filtertype: 'textbox', width: "20%", renderer: columnsrenderer },
                        { text: 'Password', datafield: 'Password', filtertype: 'textbox', width: "9%", renderer: columnsrenderer },
                        { text: 'Company', datafield: 'CompanyName', filtertype: 'textbox', width: "9%", renderer: columnsrenderer },
                        { text: 'Website', datafield: 'WebSiteURL', filtertype: 'textbox', width: "9%", renderer: columnsrenderer },
                        {
                            text: 'Active', datafield: 'Active', filtertype: 'textbox', width: "8%", cellsalign: 'center', renderer: columnsrenderer,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Edit', datafield: 'Edit', columntype: 'button', width: "15%", filterable: false, renderer: columnsrenderer, cellsrenderer: function () {
                                return "Edit";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "Id");
                                window.location = '/Users/UpdateUsers/' + id;
                            }
                        }
                    ]
                });
        });
    </script>
}

<div class="column">
    <div class="menu" style="text-align:left; color:black">
        <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">Users</h2>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
        <div id="ordersGrid" style="width: 100% !important;"></div>
    </div>
    </div>
