<section>
    <div class="wrapper">
        <article>
            <header>
                <small>Easy integration</small>
                <h1>How to do!</h1>
            </header>
            <div class="api-steps">
                <div class="step">
                    <span>step 1</span>
                    <p>Go to control panel > my games</p>
                    <img src="/assets/api/img-step-1.jpg" alt="step1 image">
                </div>
                <div class="step">
                    <span>step 2</span>
                    <p>Click the "Add game" buttons</p>
                    <img src="/assets/api/img-step-2.jpg" alt="step2 image">
                </div>
                <div class="step">
                    <span>step 3</span>
                    <p>Type your game title you want to add in our catalouge</p>
                    <img src="/assets/api/img-step-3.jpg" alt="step3 image">
                </div>
                <div class="step">
                    <span>step 4</span>
                    <p>You will see new game info then click "Get Code" button to get "GameId and UserId". Each game has unique Game id represents your game. Api integration state shows you that you have correctly done integration and ready to publish.</p>
                    <img src="/assets/api/img-step-4.jpg" alt="step4 image">
                </div>
                <div class="step">
                    <span>step 5</span>
                    <p>Click "Get Code" button to get GameId and UserId. You can find example codes in documentation related to game type, Flash/Air, Html5 and Construct2.</p>
                    <img src="/assets/api/img-step-5.jpg" alt="step5 image">
                </div>
                <div class="step">
                    <span>step 6</span>
                    <p>After integrating GdApi you can check comminacation over developer tools of your browers. Api Integration State goes GREEN after first connection.</p>
                    <img src="/assets/api/img-step-6.jpg" alt="step6 image">
                </div>
                <div class="step">
                    <span>step 7</span>
                    <p>Go to <a href="http://reports.vooxe.com" target="_blank">http://reports.vooxe.com</a> to see your incomes. To start to get incomes, you MUST upload your game to GameDistribution.</p>
                    <img src="/assets/api/img-step-7.jpg" alt="step7 image">
                </div>
            </div>
        </article>
    </div>
</section>
