---
title: gd-developers
description: gd

#navigation selected states:
homepage: false
developers: true
publishers: false
games: false
login: false
register: false

catalog: ["update","hot","new","update","",""]
---
<body class="developerspage" page-type="developerspage">
{{> navigation }}
<section class="intro-container">
    <div class="wrapper">
        <article>
            <header>
                <small>What we do</small>
                <h1>For developers</h1>
            </header>
            <p>Maak een account aan, integreer de API en voeg je game toe! Aenean velit odio, elementum in tempus ut,
                vehucula eu diam. Pellentegque rhoncus aliquam matti.</p>
            <div class="buttons-duo">
                <a href="/login/" target="_self" title="Login" class="button">
                    Join us
                </a>
                <a href="#catalog" target="_self" title="Scroll to the games catalog" class="button anchor">
                    Games catalog
                </a>
            </div>
        </article>
    </div>
</section>
<section class="api-container">
    <div class="wrapper">
        <article>
            <header>
                <h2>Use the source</h2>
            </header>
            <div class="columns">
                <div class="column">
                    <small>Integrate the</small>
                    <h3>GD API</h3>
                    <img src="/assets/images/dev-api-sm.png" alt="dev logo">
                    <ul>
                        <li>Here we have a great USP</li>
                        <li>also this usp is likeble</li>
                    </ul>
                </div>
                <div class="column">
                    <small>Launch</small>
                    <h3>Your game</h3>
                    <img src="/assets/images/dev-game-sm.png" alt="game logo">
                    <ul>
                        <li>Here we have a great USP</li>
                        <li>also this usp is likeble</li>
                    </ul>
                </div>
                <div class="column">
                    <small>Earn</small>
                    <h3>Money</h3>
                    <img src="/assets/images/dev-revenue.png" alt="game logo">
                    <ul>
                        <li>Here we have a great USP</li>
                        <li>also this usp is likeble</li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>
<section id="catalog" class="catalog-container">
    <div class="wrapper">
        <article>
            <header>
                <small>Upload now</small>
                <h2>4500+ <br/>games ago</h2>
            </header>
            <p>Maak een account aan, integreer de API en voeg je game toe! Aenean velit odio, elementum in tempus ut,
                vehucula eu diam. Pellentegque rhoncus aliquam mattis. PI en voeg je game toe! Aenean velit odio,</p>
            <div class="tiles single-row">
                {{#each catalog}}
                    <a href="/games/pacman/" target="_self" title="" class="{{this}} flash">
                        <span>
                            <img src="http://static.spele.nl/games/assets/screenshots/5/112255/89590/222x140-366069.jpg?r=1491479173007"
                                 srcset="http://static.spele.nl/games/assets/screenshots/5/112255/89590/222x140-366069.jpg?r=1491479173007,
                                        http://static.spele.nl/games/assets/screenshots/5/112255/89590/222x140-366069.jpg?r=1491479173007 2x"
                                 alt="Cut the Rope Experiments" width="222" height="140"/>
                        </span>
                    </a>
                {{/each}}
            </div>
            <div class="buttons-duo">
                <a href="/join-us/" target="_self" title="Join us" class="button">
                    Join us
                </a>
                <a href="/games/" target="_self" title="All games" class="button">
                    Games catalog
                </a>
            </div>
        </article>
    </div>
</section>
{{> footer }}
</body>
