// ------ Color variables
$black: #000000;
$white: #ffffff;
$teal: #44A5AB;
$teal-dark: #175d7a;
$teal-darker: #4b8a91;
$purple-light: #5C3997;
$purple: #512e85;
$orange-light: #ff4452;
$orange: #ff8c1c;
$orange-dark: #c4161e;
$pink-light: #ffd2da;
$pink: #FF3A56;
$pink-dark: #ac1e45;
$gray: #5C5B63;
$gray-light: #999999;
$gray-lighter: #b3b3b3;
$gray-lightest: #d0d0d0;
$red: #C4161E;
$red-dark: #AC1E46;
$brown-light: #ffd1b1;
$blue-light: #b7f9ff;

// ------ Gradients
$blue-to-lightblue: linear-gradient(to right, #1B3786 , #24B3C0);
$pink-to-orange: linear-gradient(to right, #EF0E74 , #FC6926);
$purple-to-lightpurple: linear-gradient(to right, #3D1B5D , #5C3997);

// ------ Fonts
$title-font: 'Squada One', cursive;
$text-font: 'Roboto', sans-serif;

// ------ Breakpoints
$small-bp: 640;
$bigger-small-bp: 750;
$med-bp: 1024;
$big-bp: 1366;

// ------ Icons
$icon-chevron-up: '\f077';
$icon-chevron-down: '\f078';
$icon-checked: '\f00c';
$icon-close: '\f00d';
$icon-burger: '\f0c9';
$icon-linkedin: '\f0e1';
$icon-facebook: '\f09a';
$icon-pintrest: '\f231';
$icon-twitter: '\f099';
$icon-google: '\f0d5';

