﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id',         type: 'number' },
                        { name: 'VideoMd5',   type: 'string' },
                        { name: 'Title',      type: 'string' },
                        { name: 'Warning',    type: 'number' },
                        { name: 'Visible',    type: 'number' },
                        { name: 'Approved',   type: 'number' },
                        { name: 'Banner',     type: 'number' },
                        { name: 'Thumbnail',  type: 'string' },
                        { name: 'AddedDate',  type: 'date'   },
                        { name: 'CompanyName',type: 'string' },
                        { name: 'UserId',     type: 'number' },
                        { name: 'VideoType',  type: 'string' },
                    ],
                    updaterow: function (rowid, rowdata, commit) {
                        // synchronize with the server - send update command
                        var data = "update=true&VideoMd5=" + rowdata.Id + "&Visible=" + rowdata.Visible + "&Approved=" + rowdata.Approved + "&Banner=" + rowdata.Banner;

                        $.ajax({
                            dataType: 'json',
                            url     : 'Videos/UpdateVideosInline',
                            data    : data,
                            success : function (data, status, xhr) {
                                // update command is executed.
                                $("#jqxgrid").jqxGrid('refreshdata');
                                //$("#jqxgrid").jqxGrid('refresh');
                                commit(true);
                            },
                            error: function () {
                                // cancel changes.
                                commit(false);
                            }
                        });
                    },
                    datatype        : "json",
                    url: "/VideoApprove/GetRejectedVideos",
                    filter          : function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root            : "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };
            var isEditable = function (row) {
                return false;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top: 5px;"><b>' + value + '</b></div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width           : "100%",
                    enabletooltips  : true,
                    height          : 650,
                    source          : dataAdapter,
                    showfilterrow   : true,
                    editable        : true,
                    filterable      : true,
                    pageable        : true,
                    sortable        : true,
                    pagesize        : 20,
                    autoheight      : true,
                    selectionmode   : 'multiplecellsextended',
                    virtualmode     : true,
                    rendergridrows  : function (obj) {
                        return obj.data;
                    },
                    columns: [
                        { text: 'Id',        datafield: 'Id',       filtertype: 'textbox', hidden: true },
                        { text: 'Producer', datafield: 'CompanyName', filtertype: 'textbox', width: "20%", renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
                        { text: 'User Id', datafield: 'UserId', filtertype: 'textbox', width: "5%", renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
                        { text: 'Title', datafield: 'Title', filtertype: 'textbox', width: "30%", renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
                        {
                            text: 'Visible', datafield: 'Visible', filtertype: 'textbox', width: "6%", renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Approved', datafield: 'Approved', filtertype: 'textbox', width: "7%", renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Banner', datafield: 'Banner', filtertype: 'textbox', width: "7%", renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        { text: 'Added On', datafield: 'AddedDate', filtertype: 'date', width: "10%", cellsalign: 'center', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable, cellsformat: 'dd/MM/yyyy', editable: false },
                        {
                            text: 'View', datafield: 'Edit', columntype: 'button', width: "15%", filterable: false, renderer: columnsrenderer, cellsrenderer: function () {
                                return "View";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "VideoMd5");
                                window.location = '/Videos/Edit/' + id + "?type=rejected";
                            }
                        }
                        //{
                        //    text: 'Feature', columntype: 'button', width: '7%', id: "FeaturedButton", filterable: false, renderer: columnsrenderer,cellsrenderer: function () {
                        //        return "Feature";
                        //    }, buttonclick: function (row) {
                        //        editrowindex = row;
                        //        var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "Id");
                        //        window.location = 'Videos/Feature/' + id;
                        //    }
                        //}
                    ]
                });
        });
    </script>
}

<div class="column">
    <div class="menu" style="text-align:left; color:black">
        <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">Rejected Videos</h2>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
    </div>
</div>

