﻿@using VideoDistribution.Enums;
@model VideoDistribution.Models.ADM_VideoByIdResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="column" style="min-width:35% !important; ">
    @using (Html.BeginForm("Edit", "Videos"))
    {
        <div asp-validation-summary="All"></div>
        <div>
            @Html.Label("Partner")
            @Html.DropDownList("Company")
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Title")
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div  style="margin-top:15px;">
            @Html.Label("Category")
            @Html.DropDownList("Category")
        </div>
        
        <div style="margin-top:15px;">
            @Html.Label("Visible")
            @Html.DropDownList("Visible")
        </div>
        
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("External URL")
            @Html.TextBoxFor(model => model.ExternalURL, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.ExternalURL, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.LabelFor(model => model.ExternalThumbURL)
            @Html.TextBoxFor(model => model.ExternalThumbURL, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.ExternalThumbURL, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Video Md5")
            @Html.TextBoxFor(model => model.VideoMd5, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.VideoMd5, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top:15px;">
            @Html.Label("File Name")
            @Html.TextBoxFor(model => model.Filename, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Filename, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.Label("Privacy")
            @Html.DropDownList("Privacy")
        </div>
        <div style="margin-top:15px;">
            @Html.Label("Added On")
            @Html.TextBoxFor(model => model.AddedDate, new { disabled = "disabled" })
            @*@Html.EditorFor(model => model.AddedOn, new { @Value = Model.AddedOn.ToString() , htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
            @Html.ValidationMessageFor(model => model.AddedDate, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.VideoMd5)
        @Html.HiddenFor(model => model.UserId)
        <div style="margin-top:15px;">
            <button type="submit" class="button active" style="text-align:center">Save</button>
        </div>
    }
</div>
<div class="column" style = "margin-left:30px;">
    <div align="left" id="divVideo">
        @{ double proportion = (double)(600 / ((double)((double)Model.Width / (double)Model.Height)));}
        <form style="width:600px !important;">
            <label>@Model.Title</label>
        </form>
        <iframe id="videoEmbedded"
                src="@String.Concat("http://player.videodistribution.com/index.html?videoid=" + Model.VideoMd5)"
                style="width:100%;height:500px"
                scrolling="auto" frameborder="0"></iframe>    
    </div>
    <form style="width:600px !important;">
        <label>Thumbnail</label>
        <div class="screenshots" align="left">
            <img src="@Model.ExternalThumbURL" width="222" height="140" />
        </div>
    </form>
    <div class="row">
      
        <br />
      

        @if(ViewBag.type == "rejected")
        {

            <button class="button active" style="text-align:center" id="btnUnRejected">Unreject</button>
        }
        else if(ViewBag.type == "waiting")
        {
            <div>
                Reason: <textarea id="rejectedReason" rows="4" style="width:350px"></textarea>
            </div>
            <button class="button active" style="text-align:center" id="btnApprove">Approve</button>
            <button class="button active" style="text-align:center" id="btnRejected">Reject</button>
            <button class="button active" style="text-align:center" id="btnDelete">Delete</button>

        }
        else if (ViewBag.type == "published")
        {
            <div>
                Reason: <textarea id="rejectedReason" rows="4" style="width:350px"></textarea>
            </div>
            <button class="button active" style="text-align:center" id="btnRejected">Reject</button>
            <button class="button active" style="text-align:center" id="btnDelete">Delete</button>

        }
        else if (ViewBag.type == "private")
        {
            <div>
                 Reason: <textarea  id="rejectedReason" rows="4" style="width:350px"></textarea>
            </div>
            <button class="button active" style="text-align:center" id="btnRejected">Reject</button>
            <button class="button active" style="text-align:center" id="btnWatched">Watched</button>

        }
        else if (ViewBag.type == "deleted")
        {

            <button class="button active" style="text-align:center" id="btnActivated">Activate</button>

        }

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnApprove").click(function () {
                window.location.href = '@String.Concat("/VideoApprove/Approve?videoMd5=" + @ViewBag.VideoMd5)';
            });

            $("#btnUnRejected").click(function () {
                window.location.href = '@String.Concat("/VideoApprove/UnApprove?videoMd5=" + @ViewBag.VideoMd5)';

            });

            $("#btnActivated").click(function () {
                window.location.href = '@String.Concat("/VideoApprove/ActiveteVideo?videoMd5=" + @ViewBag.VideoMd5)';

            });


            $("#btnWatched").click(function () {
                var urls = "/VideoApprove/ChangeStatus?videoMd5=" +'@ViewBag.VideoMd5' +"&type=" + '@VideoDistAdminEnums.VideoStatusEnum.Watched.ToString()';
                window.location.href = urls;

            });


            $("#btnDelete").click(function () {

                //window.location.href = '/VideoApprove/DeleteVideo?videoMd5=' + '@ViewBag.VideoMd5';

                if ($("#rejectedReason").val() == "") {
                    alert("Please write reason");
                    return;

                }
                else {
                    window.location.href = '/VideoApprove/DeleteVideo?videoMd5=' + '@ViewBag.VideoMd5' + "&reason=" + $("#rejectedReason").val()
                                                                      + '&title=' + '@ViewBag.Title';
                }


            });

            $("#btnRejected").click(function () {

                if( $("#rejectedReason").val() =="")
                {
                    alert("Please write reason");
                    return;

                }
                else
                {
                    window.location.href = '/VideoApprove/Rejected?videoMd5=' + '@ViewBag.VideoMd5' + "&reason=" + $("#rejectedReason").val()
                                                                   + '&title=' + '@ViewBag.Title';
                }


            });

        });
    </script>

}