﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link rel="stylesheet" href="../../Content/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/jqx.windowsphone.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/jqx.blackberry.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/jqx.mobile.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/jqx.android.css" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jqxgrid.columnsresize.js"></script>
    
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id', type: 'number' },
                        { name: 'VideoMd5', type: 'string' },
                        { name: 'Title', type: 'string' },
                        { name: 'Warning', type: 'number' },
                        { name: 'Visible', type: 'number' },
                        { name: 'Approved', type: 'number' },
                        { name: 'Banner', type: 'number' },
                        { name: 'Thumbnail', type: 'string' },
                        { name: 'AddedDate', type: 'date' },
                        { name: 'CompanyName', type: 'string' },
                        { name: 'UserId', type: 'number' },
                        { name: 'VideoType', type: 'string' },
                        { name: 'ProviderId', type: 'number' },
                        { name: 'ProviderName', type: 'string' }
                    ],
                    updaterow: function (rowid, rowdata, commit) {
                        // synchronize with the server - send update command
                        var data = "update=true&VideoMd5=" + rowdata.Id + "&Visible=" + rowdata.Visible + "&Approved=" + rowdata.Approved + "&Banner=" + rowdata.Banner;

                        $.ajax({
                            dataType: 'json',
                            url: 'Videos/UpdateVideosInline',
                            data: data,
                            success: function (data, status, xhr) {
                                // update command is executed.
                                $("#jqxgrid").jqxGrid('refreshdata');
                                //$("#jqxgrid").jqxGrid('refresh');
                                commit(true);
                            },
                            error: function () {
                                // cancel changes.
                                commit(false);
                            }
                        });
                    },
                    datatype: "json",
                    url: "Videos/GetVideos",
                    filter: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root: "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };
            var isEditable = function (row) {
                return false;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top: 5px;"><b>' + value + '</b></div>';
            }

            //$("#jqxgrid").jqxGrid(
            //    {
            //        width: '100%',
            //        autoheight: true,
            //        enabletooltips: true,
            //        source: dataAdapter,
            //        showfilterrow: true,
            //        editable: true,
            //        filterable: true,
            //        pageable: true,
            //        sortable: true,
            //        pagesize: 100,
            //        columnsresize: true,
            //        columnsheight: 40,
            //        rowsheight: 34,
            //        selectionmode: 'multiplecellsextended',
            //        virtualmode: true,
            //        rendergridrows: function (obj) {
            //            return obj.data;
            //        },
            //        columns: [
            //            { text: 'Id', datafield: 'Id', filtertype: 'textbox', hidden: true },
            //            {
            //                text: 'View', datafield: 'Edit', columntype: 'button', filterable: false, renderer: columnsrenderer, cellsrenderer: function () {
            //                    return "View";
            //                }, buttonclick: function (row) {
            //                    editrowindex = row;
            //                    var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "VideoMd5");
            //                    //window.location = 'Videos/Edit/' + id;
            //                    var win = window.open('/Videos/Edit/' + id, '_blank');
            //                    if (win) {
            //                        win.focus();
            //                    } else {
            //                        alert('Please allow popups for this website');
            //                    }
            //                }
            //            },
            //            { text: 'Producer', datafield: 'CompanyName', filtertype: 'textbox', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
            //            { text: 'Title', datafield: 'Title', filtertype: 'textbox', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
            //            { text: 'Added On', datafield: 'AddedDate', filtertype: 'date', cellsalign: 'center', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable, cellsformat: 'dd/MM/yyyy', editable: false },
            //            { text: 'Provider Id', datafield: 'ProviderId', filtertype: 'textbox', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
            //            { text: 'Provider Name', datafield: 'ProviderName', filtertype: 'textbox', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
            //            { text: 'User Id', datafield: 'UserId', filtertype: 'textbox', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
            //            {
            //                text: 'Visible', datafield: 'Visible', filtertype: 'textbox', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
            //                validation: function (cell, value) {
            //                    if (value > 1 || value < 0) {
            //                        return { result: false, message: "Must either be 0 or 1!" };
            //                    }
            //                    return true;
            //                }
            //            },
            //            {
            //                text: 'Approved', datafield: 'Approved', filtertype: 'textbox', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
            //                validation: function (cell, value) {
            //                    if (value > 1 || value < 0) {
            //                        return { result: false, message: "Must either be 0 or 1!" };
            //                    }
            //                    return true;
            //                }
            //            },
            //            {
            //                text: 'Banner', datafield: 'Banner', filtertype: 'textbox', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
            //                validation: function (cell, value) {
            //                    if (value > 1 || value < 0) {
            //                        return { result: false, message: "Must either be 0 or 1!" };
            //                    }
            //                    return true;
            //                }
            //            }
            //        ]
            //    });
        });
    </script>
}

<div class="column" ng-controller="allVideosCtrl">
    <div id="processing" class="" style="display: none"></div>
    <div class="menu" style="text-align:left; color:black">
        <div class="row">
            <div class="col-md-3">
                <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto; border: none;">All Videos
                <span class="badge countBadge">{{TotalVideoCount}}</span>
                </h2>
            </div>
            <div class="col-md-3 pull-right">
                <select ng-model="pagenum" ng-options="p for p in Paging" ng-change="UpdateFilter(field, condition, operator, value, pagenum)">
                    <option ng-selected="{{p === 1}}">{{ p }}</option>
                </select>
            </div>
        </div>
        <div class="pull-left">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="tableHeader">View</th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('CompanyName', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('CompanyName', 'desc')"></i></a>
                            </div>
                            Producer
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('Title', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('Title', 'desc')"></i></a>
                            </div>
                            Title
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('AddedDate', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('AddedDate', 'desc')"></i></a>
                            </div>
                            Added On
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('ProviderId', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('ProviderId', 'desc')"></i></a>
                            </div>
                            Provider Id
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('ProviderName', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('ProviderName', 'desc')"></i></a>
                            </div>
                            Provider Name
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('UserId', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('UserId', 'desc')"></i></a>
                            </div>
                            User Id
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('Visible', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('Visible', 'desc')"></i></a>
                            </div>
                            Visible
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('Approved', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('Approved', 'desc')"></i></a>
                            </div>
                            Approved
                        </th>
                        @*<th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('Banner', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('Banner', 'desc')"></i></a>
                            </div>
                            Banner
                        </th>*@
                    </tr>
                    <tr>
                        <th class="tableHeader"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('CompanyName', 'CONTAINS', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('Title', 'CONTAINS', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeader"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('ProviderId', 'EQUAL', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('ProviderName', 'CONTAINS', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('UserId', 'EQUAL', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('Visible', 'EQUAL', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('Approved', 'EQUAL', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        @*<th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('Banner', 'EQUAL', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="v in AllVideos">
                        <td><button class="btn btn-sm" style="min-width: 50px;" ng-click="OpenVideoDetail(v.VideoMd5)">View</button></td>
                        <td ng-bind="v.CompanyName"></td>
                        <td title="{{v.Title}}">{{ HandleLongText(v.Title); }}</td>
                        <td>{{ FormatDate(v.AddedDate); }}</td>
                        <td ng-bind="v.ProviderId"></td>
                        <td ng-bind="v.ProviderName"></td>
                        <td ng-bind="v.UserId"></td>
                        <td ng-bind="v.Visible"></td>
                        <td ng-bind="v.Approved"></td>
                        @*<td ng-bind="v.Banner"></td>*@
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
    </div>
</div>
