﻿
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="column" ng-controller="videoReportCtrl">
    <div class="row" style="padding: 15px;">
        <div style="width: 50%;" class="col-md-5">
            <h4 style="text-transform: uppercase;">Videos By Category</h4>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div style="width: 50%;" class="col-md-5">
            <h4 style="text-transform: uppercase;">Videos By Account</h4>
            <div>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</div>






@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function randomColor(brightness) {
            function randomChannel(brightness) {
                var r = 255 - brightness;
                var n = 0 | ((Math.random() * r) + brightness);
                var s = n.toString(16);
                return (s.length == 1) ? '0' + s : s;
            }
            return '#' + randomChannel(brightness) + randomChannel(brightness) + randomChannel(brightness);
        };

        $.post("/Videos/GetVideosByCategoryAndAccount", null, function (data) {
            debugger;
            var ctx = document.getElementById('myChart').getContext('2d');
            var labels = [];
            var accountData = [];
            var colors = [];

            $.each(data.Account, function (index, value) {
                labels.push(value.Account);
                accountData.push(value.Count);
                colors.push(randomColor(getRandomInt(0, 255)));
            });

            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: colors,
                        data: accountData
                    }]
                }
            });

            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var dataSet = [];
            labels = [];
            var categoryData = [];
            colors = [];

            $.each(data.Category, function (index, value) {
                labels.push(value.Category);
                categoryData.push(value.Count);
            });

            dataSet.push({ label: 'Count', data: categoryData, backgroundColor: "rgba(214,207,33,0.8)" });

            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: dataSet
                }
            });
        });

    </script>
}




