﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id',       type: 'number' },
                        { name: 'GameId',   type: 'string' },
                        { name: 'Game',     type: 'string' },
                        { name: 'GameMd5',  type: 'string' },
                        { name: 'Warning',  type: 'number' },
                        { name: 'Visible',  type: 'number' },
                        { name: 'Approved', type: 'number' },
                        { name: 'Analytics',type: 'number' },
                        { name: 'Banner',   type: 'number' },
                        { name: 'Thumbnail',type: 'string' },
                        { name: 'AddedOn',  type: 'date'   },
                        { name: 'Company',  type: 'string' },
                        { name: 'Order',    type: 'number' },
                        { name: 'CompanyOrder', type:'number'}
                    ],
                    updaterow: function (rowid, rowdata, commit) {
                        // synchronize with the server - send update command
                        var data = "update=true&Id=" + rowdata.Id + "&Game=" + rowdata.Game + "&GameMd5=" + rowdata.GameMd5 + "&Visible=" + rowdata.Visible +
                            "&Analytics=" + rowdata.Analytics + "&Approved=" + rowdata.Approved + "&Banner=" + rowdata.Banner + "&Order=" + rowdata.Order + "&CompanyOrder=" + rowdata.CompanyOrder;
                        
                        $.ajax({
                            dataType: 'json',
                            url: 'FeaturedVideos/UpdateFeaturedVideos',
                            data: data,
                            success: function (data, status, xhr) {
                                // update command is executed.
                                $("#jqxgrid").jqxGrid('refreshdata');
                                //$("#jqxgrid").jqxGrid('refresh');
                                commit(true);
                            },
                            error: function () {
                                // cancel changes.
                                commit(false);
                            }
                        });
                    },
                    datatype: "json",
                    url: "FeaturedVideos/GetFeaturedVideos",
                    filter: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root: "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };

            var isEditable = function (row) {
                return false;
            }

            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top: 10px;"><b>' + value + '</b></div>';
            }

            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
               return '<div style="margin-left:10px; margin-top:5px;">' + value + '</div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width           : "100%",
                    enabletooltips  : true,
                    source          : dataAdapter,
                    showfilterrow   : true,
                    editable        : true,
                    filterable      : true,
                    pageable        : true,
                    sortable        : true,
                    pagesize        : 20,
                    autoheight      : true,
                    virtualmode     : true,
                    
                    rendergridrows  : function (obj) {
                        return obj.data;
                    },
                    columns:
                    [
                        { text: 'Id',      datafield: 'Id',     filtertype: 'textbox', hidden: true },
                        { text: 'Partner', datafield: 'Company', filtertype: 'textbox', width: '30%', cellsrenderer: cellsrenderer, renderer: columnsrenderer, sortable: true },
                        { text: 'Added On', datafield: 'AddedOn', filtertype: 'date', width: '15%', cellsformat: 'dd/MM/yyyy', renderer: columnsrenderer, cellsalign: 'center', sortable: true, editable: false },
                        {
                            text: 'Visible', datafield: 'Visible', filtertype: 'textbox', width: '10%', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Approved', datafield: 'Approved', filtertype: 'textbox', width: '10%', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Banner', datafield: 'Banner', filtertype: 'textbox', width: '10%', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        { text: 'Home Order', datafield: 'Order', filtertype: 'textbox', width: '15%', renderer: columnsrenderer, cellsalign: 'center' },
                        {
                            text: 'Company Order', datafield: 'CompanyOrder', filtertype: 'textbox', width: '15%', renderer: columnsrenderer, cellsalign: 'center', sortable: true,
                            validation: function (cell, value) {
                                if (value > 1 || value < 0) {
                                    return { result: false, message: "Must either be 0 or 1!" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'Remove', datafield: 'Remove', columntype: 'button', width: '20%', filterable: false, renderer: columnsrenderer, cellsalign: 'center', cellsrenderer: function () {
                                return "Remove";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "Id");
                                window.location = 'FeaturedVideos/RemoveFeature/' + id;
                            }
                        }
                    ]
                });
            });
    </script>
}

    <div class="column">
        <div class="menu" style="text-align:left; color:black">
            <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">Featured Videos</h2>
            <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
        </div>
    </div>
