﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="column" ng-controller="reportCtrl">
    <div class="row" style="padding: 15px;">
        <div style="width: 50%;" class="col-md-5">
            <h4 style="text-transform: uppercase;">Monthly ({{currentMonth}})</h4>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div style="width: 50%;" class="col-md-5">
            <h4 style="text-transform: uppercase;">Weekly ({{currentWeek}})</h4>
            <div>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 25px;">
        <div class="container">
            <table>
                <tr>
                    <td><p>From: <input type="text" id="fromDatepickers"></p></td>
                    <td><p>To: <input type="text" id="toDatepickers"></p></td>
                    <td><button style="height:60px" id="searchButton">Search</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>ApproveCount</th>
                    <th>RejectedCount</th>
                    <th>WatchedCount</th>
                    <th>UnrejectedCount</th>
                </tr>
                @{foreach (var item in ViewBag.List)
            {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Lastname</td>
                            <td>@item.ApproveCount</td>
                            <td>@item.RejectCount</td>
                            <td>@item.WatchCount</td>
                            <td>@item.UnrejectCount</td>
                        </tr>


                    }
                }
            </table>

        </div>
    </div>
</div>






@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#fromDatepickers").datepicker();
            $("#toDatepickers").datepicker();

            $("#toDatepickers").val('@(((DateTime)ViewBag.to).ToString("MM/dd/yyyy"))');
            $("#fromDatepickers").val('@(((DateTime)ViewBag.from).ToString("MM/dd/yyyy"))');
        });

        $(document).ready(function () {
            $("#searchButton").click(function () {
                var from = $.datepicker.formatDate('mm-dd-yy', $("#fromDatepickers").datepicker("getDate"));
                var to = $.datepicker.formatDate('mm-dd-yy', $("#toDatepickers").datepicker("getDate"));
                window.location.href = "/Performance/Index?from=" + from + "&to=" + to;
            });
        });

        $.post("/Performance/GetCurrentMonthAndWeekPerformance", null, function (data) {
            debugger;
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Approved', 'Rejected'],
                    datasets: [{
                        backgroundColor: ["rgba(102,159,46,0.8)", "rgba(255,153,0,0.8)"],
                        data: [data.Monthly.Approved, data.Monthly.Rejected]
                    }]
                }
            });

            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var labels = [];
            var dataSet = [];
            var approveData = [];
            var rejectData = [];

            $.each(data.Weekly, function (index, value) {
                labels.push(value.Name + ' ' + value.Lastname);
                approveData.push(value.ApproveCount);
                rejectData.push(value.RejectCount);
            });

            dataSet.push({ label: 'Approved', data: approveData, backgroundColor: "rgba(102,159,46,0.8)" });
            dataSet.push({ label: 'Rejected', data: rejectData, backgroundColor: "rgba(255,153,0,0.8)" });

            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: dataSet
                }
            });
        });

    </script>
}

