﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id',         type: 'number' },
                        { name: 'Url', type: 'string' },
                        { name: 'AddedDate', type: 'date' },
                        { name: 'Name', type: 'string' },
                        { name: 'Title', type: 'string' },
                        { name: 'IsResolved', type: 'number' }
                    ],

                    datatype        : "json",
                    url: "/Report/GetReport",
                    filter          : function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root            : "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };
            var isEditable = function (row) {
                return false;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top: 5px;"><b>' + value + '</b></div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width           : "100%",
                    enabletooltips  : true, 
                    height          : 650,
                    source          : dataAdapter,
                    showfilterrow   : true,
                    editable        : true,
                    filterable      : true,
                    pageable        : true,
                    sortable        : true,
                    pagesize        : 20,
                    autoheight      : true,
                    selectionmode   : 'multiplecellsextended',
                    virtualmode     : true,
                    rendergridrows  : function (obj) {
                        return obj.data;
                    },
                    columns: [
                        { text: 'Id',        datafield: 'Id',       filtertype: 'textbox', hidden: true },
                        { text: 'Title', datafield: 'Title', filtertype: 'textbox', width: '25%', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
                        { text: 'Url', datafield: 'Url', filtertype: 'textbox', width: '35%', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable },
                        { text: 'Reported Date', datafield: 'AddedDate', filtertype: 'date', width: '15%', renderer: columnsrenderer, sortable: true, cellbeginedit: isEditable, cellsformat: 'yyyy-MM-dd', editable: false },
                        { text: 'Resolved', datafield: 'IsResolved', filtertype: 'textbox', width: '10%', filterable: false, cellsalign: 'center', renderer: columnsrenderer },
                        {
                            text: 'Resolve', datafield: 'ResolveStatus', columntype: 'button', width: '15%', filterable: false, renderer: columnsrenderer,
                            cellsrenderer: function (row) {
                                var status = $("#jqxgrid").jqxGrid('getcellvalue', row, "IsResolved");
                                if (status)
                                    return "";
                                else
                                    return "Resolve";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var title = $("#jqxgrid").jqxGrid('getcellvalue', row, "Title");
                                var sendBodyData = JSON.stringify({
                                    "title": title
                                });

                                if (!status) {
                                    $.ajax({
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        cache: false,
                                        url: '/Report/ResolveReportedVideo',
                                        processData: false,
                                        data: sendBodyData,
                                        async: false,
                                        type: "POST",
                                        success: function (response) {
                                            //Activated successfully!
                                            alert(response.result);
                                            $("#jqxgrid").jqxGrid('updatebounddata', 'cells');
                                        },
                                        error: function (error) {
                                            alert("Error occurred in resolution!");
                                        }
                                    });
                                }
                            }
                        }
                    ]
                });
        });
    </script>
}

<div class="column">
    <div class="menu" style="text-align:left; color:black">
        <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">Reported Videos</h2>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
    </div>
</div>



