﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id',               type: 'number' },
                        { name: 'AccountId',        type: 'number' },
                        { name: 'Url',              type: 'string' },
                        { name: 'CreatedDate',      type: 'date' },
                        { name: 'AccountName',      type: 'string' },
                        { name: 'PartnerId',        type: 'string' },
                        { name: 'CreatorName',      type: 'string' },
                        { name: 'CreatorLastname',  type: 'string' },
                        { name: 'CreatorEmail',     type: 'string' },
                        { name: 'Status',           type: 'number' }
                    ],
                    datatype: "json",
                    url: "GetAccountWebsites",
                    filter: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root: "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };

            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top:10px;"><b>' + value + '</b></div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width           : "100%",
                    enabletooltips  : true,
                    source          : dataAdapter,
                    showfilterrow   : true,
                    editable        : false,
                    filterable      : true,
                    pageable        : true,
                    sortable        : true,
                    pagesize        : 20,
                    autoheight      : true,
                    virtualmode     : true,
                    selectionmode   : 'multiplecellsextended',
                    rendergridrows  : function (obj) {
                        return obj.data;
                    },
                    columns:
                    [
                        { text: 'Url', datafield: 'Url', filtertype: 'textbox', width: "20%", renderer: columnsrenderer, sortable: true },
                        { text: 'Account Name', datafield: 'AccountName', filtertype: 'textbox', width: "15%", renderer: columnsrenderer, sortable: true },
                        { text: 'Creator Name', datafield: 'CreatorName', filtertype: 'textbox', width: "8%", renderer: columnsrenderer, sortable: true },
                        { text: 'Creator Lastname', datafield: 'CreatorLastname', filtertype: 'textbox', width: "12%", renderer: columnsrenderer, sortable: true },
                        { text: 'Creator Email', datafield: 'CreatorEmail', filtertype: 'textbox', width: "15%", renderer: columnsrenderer, sortable: true },
                        { text: 'CreatedDate', datafield: 'CreatedDate', filtertype: 'date', width: "10%", renderer: columnsrenderer, sortable: true, cellbeginedit: false, cellsformat: 'yyyy-MM-dd', editable: false },
                        {
                            text: 'Status', datafield: 'Status', filtertype: 'textbox', width: "10%", filterable: false,
                            cellsalign: 'center', renderer: columnsrenderer, sortable: false
                        },
                        {
                            text: 'Activate', datafield: 'ActiveStatus', columntype: 'button', width: "10%", filterable: false, renderer: columnsrenderer,
                            cellsrenderer: function (row) {
                                var status = $("#jqxgrid").jqxGrid('getcellvalue', row, "Status");
                                if (status)
                                    return "";
                                else
                                    return "Activate";
                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "Id");
                                var status = $("#jqxgrid").jqxGrid('getcellvalue', row, "Status");
                                var partnerId = $("#jqxgrid").jqxGrid('getcellvalue', row, "PartnerId");
                                var url = $("#jqxgrid").jqxGrid('getcellvalue', row, "Url");
                                var accountName = $("#jqxgrid").jqxGrid('getcellvalue', row, "AccountName");
                                var sendBodyData = JSON.stringify({
                                    "id": id,
                                    "partnerId": partnerId,
                                    "url": url,
                                    "accountName": accountName
                                });

                                if (!status) {
                                    $.ajax({
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        cache: false,
                                        url: '/Account/ActivateAccountWebsite',
                                        processData: false,
                                        data: sendBodyData,
                                        async: false,
                                        type: "POST",
                                        success: function (response) {
                                            //Activated successfully!
                                            alert(response.result);
                                            $("#jqxgrid").jqxGrid('updatebounddata', 'cells');
                                        },
                                        error: function (error) {
                                            alert("Error occurred in activation!");
                                        }
                                    });
                                }
                            }
                        }
                    ]
                });
        });
    </script>
}

<div class="column">
    <div class="menu" style="text-align:left; color:black">
        <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">Account Websites</h2>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
    </div>
</div>

