﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            var source =
                {
                    datafields:
                    [
                        { name: 'Id', type: 'number' },
                        { name: 'AccountTypeId', type: 'number' },
                        { name: 'Name', type: 'string' },
                        { name: 'PartnerId', type: 'string' },
                        { name: 'Address', type: 'string' },
                        { name: 'City', type: 'string' },
                        { name: 'State', type: 'string' },
                        { name: 'ZipCode', type: 'string' },
                        { name: 'Country', type: 'number' },
                        { name: 'Phone', type: 'string' },
                        { name: 'Fax', type: 'string' },
                        { name: 'CreatedIp', type: 'string' },
                        { name: 'ActiveStatus', type: 'number' }
                    ],
                    datatype: "json",
                    url: "GetAccounts",
                    filter: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    },
                    // update the grid and send a request to the server.
                    sort: function () {
                        $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    },
                    root: "Rows",
                    beforeprocessing: function (data) {
                        source.totalrecords = data.TotalRows;
                    }
                };

            var dataAdapter = new $.jqx.dataAdapter(source);

            var columnsrenderer = function (value) {
                return '<div style="text-align: center; margin-top:10px;"><b>' + value + '</b></div>';
            }

            $("#jqxgrid").jqxGrid(
                {
                    width: "100%",
                    enabletooltips: true,
                    source: dataAdapter,
                    showfilterrow: true,
                    editable: false,
                    filterable: true,
                    pageable: true,
                    sortable: true,
                    pagesize: 20,
                    autoheight: true,
                    virtualmode: true,
                    selectionmode: 'multiplecellsextended',
                    rendergridrows: function (obj) {
                        return obj.data;
                    },
                    columns:
                    [
                        { text: 'Company Name', datafield: 'Name', filtertype: 'textbox', width: "15%", renderer: columnsrenderer, sortable: true },
                        { text: 'Partner Id', datafield: 'PartnerId', filtertype: 'textbox', width: "15%", renderer: columnsrenderer, sortable: true },
                        { text: 'State', datafield: 'State', filtertype: 'textbox', width: "10%", renderer: columnsrenderer, sortable: true },
                        { text: 'City', datafield: 'City', filtertype: 'textbox', width: "10%", renderer: columnsrenderer, sortable: true },
                        { text: 'Address', datafield: 'Address', filtertype: 'textbox', width: "20%", renderer: columnsrenderer, sortable: true },
                        { text: 'Phone', datafield: 'Phone', filtertype: 'textbox', width: "10%", renderer: columnsrenderer, sortable: true },
                        {
                            text: 'Active', datafield: 'ActiveStatus', filtertype: 'textbox', width: "10%", filterable: false,
                            cellsalign: 'center', renderer: columnsrenderer, sortable: false
                        },
                        {
                            text: 'Activate', datafield: 'ActivateStatus', columntype: 'button', width: "10%", filterable: false, renderer: columnsrenderer,
                            cellsrenderer: function (row) {
                                var activeStatus = $("#jqxgrid").jqxGrid('getcellvalue', row, "ActiveStatus");
                                if (activeStatus)
                                    return "Deactivate";
                                else
                                    return "Activate";

                            }, buttonclick: function (row) {
                                editrowindex = row;
                                var id = $("#jqxgrid").jqxGrid('getcellvalue', row, "Id");
                                var activeStatus = $("#jqxgrid").jqxGrid('getcellvalue', row, "ActiveStatus");

                                if (activeStatus) {
                                    $.ajax({
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        cache: false,
                                        url: '/Account/DeactivateAccount/' + id,
                                        async: false,
                                        type: "POST",
                                        success: function (response) {
                                            //Deactivated successfully!
                                            alert('Deactivated successfully!');
                                            $("#jqxgrid").jqxGrid('updatebounddata', 'cells');
                                        },
                                        error: function (error) {
                                            alert("Error occurred in deactivation!");
                                        }
                                    });
                                }
                                else
                                    window.location = 'ActivateAccount/' + id;
                            }
                        }
                    ]
                });

            $('#btnNewAccount').on('click', function () {
                var win = window.open('http://videodistribution.com/JoinUs', '_blank');
                if (win) {
                    win.focus();
                } else {
                    alert('Please allow popups for this website');
                }
            });
        });
    </script>
}

<div class="column">
    <div class="menu" style="text-align:left; color:black">
        <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto;">
            Accounts
            <button id="btnNewAccount" class="button active" style="font-size:16px; font:xx-small !important; min-width:50px !important;">New Account</button>
        </h2>
        <div id="jqxgrid" style="width: 100% !important; margin-top:-20px;"></div>
    </div>
</div>


