﻿@{
    ViewBag.Title = "ActiviteUser";
    ViewBag.BodyClass = "loginpage";
    ViewBag.BodyPageType = "loginpage";
    ViewBag.Color = "#999";
    ViewBag.ShowFooter = "collapse";
    ViewBag.Description = "ActiviteUser";
}

<section>
    <div class="wrapper">
        <form id="login">
            Your Account is @ViewBag.message
        </form>
    </div>
</section>

