﻿@model VideoDistribution.Models.LoginViewModel

<!-- Fonts & styles -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500|Squada+One" rel="stylesheet">
<link rel="stylesheet" href="~/dist/styles/main.min.css" />
<!-- Data structures -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<body style="margin:auto; max-width:400px; margin-top:250px;">
    @if (ViewBag.Activation != null)
    {
        <form>
            <label style="text-align:center; border-top:0; color: lime">@ViewBag.Activation</label>
        </form>
    }   
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <a href="/" target="_self" title="Game Distribution" class="logo">
            <img src="/assets/images/vdlogo.png" alt="VDistribution logo">
        </a>
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All"></div>
        <div style="width: 380px;">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "username@company.com", required = "required"} })
        </div>
        <div style="width: 380px; margin-top:15px;">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password", autocomplete = "off", required = "required" })
            @if (ViewBag.Error != null)
            {
                <label style="margin-top:15px; width:375px; color: red;">@Html.Raw(ViewBag.Error)</label>
            }
        </div>
        <div style="margin-top:15px;">
            <div>
                <button type="submit" style="width:375px">Login</button>
            </div>
            <label style="margin-top:15px; width: 375px"><a href="~/Account/ForgotPassword" style="color:orange;"> Recover</a> your password</label>
        </div>
    }
</body>