﻿
@{
    ViewBag.Title = "PublisherDomains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="column" ng-controller="publisherDomainsCtrl">
    <div id="processing" class="" style="display: none"></div>
    <div class="menu" style="text-align:left; color:black">
        <div class="row">
            <div class="col-md-3">
                <h2 style="width:100%; margin-left: 0 auto; margin-right:0 auto; border: none;">
                    Publisher Domains
                    <span class="badge countBadge">{{PublisherDomainsCount}}</span>
                </h2>
            </div>
            <div class="col-md-3 pull-right">
                <select ng-model="pagenum" ng-options="p for p in PublisherPaging" ng-change="UpdateFilter(field, condition, operator, value, pagenum)">
                    <option ng-selected="{{p === 1}}">{{ p }}</option>
                </select>
            </div>
        </div>
        <div class="pull-left">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="tableHeader">Ads</th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('Domain', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('Domain', 'desc')"></i></a>
                            </div>
                            Domain
                        </th>
                        <th class="tableHeader">
                            <div class="pull-up">
                                <a class="btn btn-success tableHeaderSort"><i class="fa fa-arrow-up arrowCustom" aria-hidden="true" ng-click="Sort('Title', 'asc')"></i></a>
                                <a class="btn btn-danger tableHeaderSort"><i class="fa fa-arrow-down arrowCustom" aria-hidden="true" ng-click="Sort('Title', 'desc')"></i></a>
                            </div>
                            Title
                        </th>
                    </tr>
                    <tr>
                        <th class="tableHeader"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('Domain', 'CONTAINS', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                        <th class="tableHeaderFilter"><input type="text" class="tableFilter" ng-blur="UpdateFilter('Title', 'CONTAINS', 1, $event.target.value, 1)" placeholder="Search..." title="Type in a name"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in PublisherDomains">
                        <td>
                            <button class="btn btn-sm" ng-if="p.AdsEnabled == false" style="min-width: 50px;" ng-click="ChangeAdsEnabled(p.Id, true)">Enable</button>
                            <button class="btn btn-sm btn-danger" ng-if="p.AdsEnabled == true" style="min-width: 50px;" ng-click="ChangeAdsEnabled(p.Id, false)">Disable</button>
                        </td>
                        <td ng-bind="p.Domain"></td>
                        <td ng-bind="p.Title"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>