body.addgamepage {

    h1 {
        color: $teal;
        border-top-color: $gray-lightest;
        border-bottom-color: $gray-lightest;
        text-shadow: 0 0.07em 0 $gray-lightest;
    }

    section {
        &:before {
            background: none;
        }
        article {
            padding: 1.389em; //25px
            @include respond-to($small-bp) {
                padding: 1.136em; //25px based on 22px
            }
            header {
                margin: 0 0 1.389em; //25px
                @include respond-to($small-bp) {
                    margin: 0 0 1.136em;
                }
            }
        }
    }

    .columns {
        @include respond-to($med-bp) {
            display: flex;
        }
        .column {
            &:first-of-type {
                @include respond-to($med-bp) {
                    flex: 3;
                }
            }
            &:last-of-type {
                @include respond-to($med-bp) {
                    flex: 1;
                    padding-left: 1.136em;
                }
                form {
                    padding: 1.389em 0 0; //25px
                    @include respond-to($small-bp) {
                        padding: 1.136em 0; //25px based on 22px
                    }
                }
            }
        }
    }

    input#title {
        margin-bottom: 1.136em;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .dimensions-container {
        input {
            width: auto;
        }
        input, i {
            display: inline-block;
        }
    }

    .type-container {
        select {
            margin-bottom: 1.136em;
        }
        label {
            &:last-of-type {
                margin-bottom: 1.136em;
            }
        }
    }

    .screenshots,
    .icons {
        padding: 0 0 1.389em; //25px
        @include respond-to($small-bp) {
            padding: 0 0 1.136em; //25px based on 22px
        }
    }

    .screenshots {
        img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 4px;
            border-radius: 1px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        img {
            display: block;
            flex: 1;
            height: auto;
            margin: 2px;
            border-radius: 1px;
        }
    }
}