body.apipage {
    @extend body.mygamespage;
    header {
        h1, small {
            color: $teal;
            border-color: $gray-lightest;
            text-shadow: 0 0.07em 0 rgba(0, 0, 0, .2);
        }
    }
    .api-steps {
        .step {
            margin-bottom: 2.727em; //60px based of 22px
            &:first-of-type {
                margin-top: 2.955em; //65px based of 22
            }
            span {
                font-size: 0.909em; //20px based on 22px
                text-transform: uppercase;
                color: $purple;
                padding: 0;
                font-family: $text-font;
                font-weight: 500;
            }
            p {
                font-size: 0.727em; //16px based on 22px
                margin: 0;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $gray-light;
                }
            }
            img {
                width: 100%;
                height: auto;
                margin-top: 0.273em; //6px based on 22px (we used 6px so it adds to with 30px for spacing)
            }
        }
        @include respond-to($med-bp) {
            @include clearfix;
            margin-top: 2.955em; //65px based of 22
            .step {
                &:first-of-type {
                    margin-top: 0;
                }
                width: 50%;
                display: inline-block;
                float: left;
                box-sizing: border-box;

                &:nth-child(odd) {
                    padding-right: 0.568em; //12.5px based on 22px
                }
                &:nth-child(even) {
                    padding-left: 0.568em; //12.5px based on 22px
                }
                p {
                    padding-bottom: 1.111em;
                }
                img {
                    max-height: 250px;
                }
                &:last-of-type {
                    width: 100%;
                    img {
                        width: 975px;
                        height: auto;
                        max-height: none;
                    }
                }
            }
        }
    }
}
